namespace Core.Entities{{ GroupNamespace }}
{
    public class {{ TableNamePascal }}
    {
{% for col in Columns -%}
        public {{ col.CSharpType }} {{ col.NamePascal }} { get; set; }
{% endfor -%}
    }
}