using Core.Entities{{ GroupNamespace }};
using System.Collections.Generic;
using System.Threading.Tasks;

namespace Core.Interfaces{{ GroupNamespace }}
{
    public interface I{{ TableNamePascal }}Repository
    {
        Task<{{ TableNamePascal }}> GetByIdAsync({{ PrimaryKey.CSharpType }} id);
        Task<IEnumerable<{{ TableNamePascal }}>> GetAllAsync();
        Task AddAsync({{ TableNamePascal }} entity);
        Task UpdateAsync({{ TableNamePascal }} entity);
        Task DeleteAsync({{ PrimaryKey.CSharpType }} id);
    }
}